@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center">
        @model List<Order>

        <table class="table table-bordered table-hover">
            <caption>List of Orders</caption>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">Order Date</th>
                    <th scope="col">Ship Country</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.OrderId</td>
                        <td>@order.OrderDate</td>
                        <td>@order.ShipCountry</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
